Source: ros-lunar-towr-ros
Section: misc
Priority: extra
Maintainer: Alexander W. Winkler <alexander.w.winkler@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libncurses5-dev, ros-lunar-catkin, ros-lunar-message-generation, ros-lunar-message-runtime, ros-lunar-rosbag, ros-lunar-roscpp, ros-lunar-std-msgs, ros-lunar-towr, ros-lunar-visualization-msgs, ros-lunar-xpp-msgs, ros-lunar-xpp-states
Homepage: http://github.com/ethz-adrl/towr
Standards-Version: 3.9.2

Package: ros-lunar-towr-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses5-dev, ros-lunar-message-generation, ros-lunar-message-runtime, ros-lunar-rosbag, ros-lunar-roscpp, ros-lunar-rqt-bag, ros-lunar-rviz, ros-lunar-std-msgs, ros-lunar-towr, ros-lunar-visualization-msgs, ros-lunar-xpp-hyq, ros-lunar-xpp-msgs, ros-lunar-xpp-states, xterm
Description: A ROS dependent wrapper for towr.
 Adds a keyboard user interface to set different goal states, motions and robots and visualizes the produced motions plan in rviz using xpp.
