Source: ros-kinetic-towr-ros
Section: misc
Priority: extra
Maintainer: Alexander W. Winkler <winklera@ethz.ch>
Build-Depends: debhelper (>= 9.0.0), libncurses5-dev, ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-message-runtime, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-towr, ros-kinetic-xpp-msgs, ros-kinetic-xpp-states
Homepage: http://github.com/ethz-adrl/towr
Standards-Version: 3.9.2

Package: ros-kinetic-towr-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses5-dev, ros-kinetic-message-generation, ros-kinetic-message-runtime, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-towr, ros-kinetic-xpp-hyq, ros-kinetic-xpp-msgs, ros-kinetic-xpp-quadrotor, ros-kinetic-xpp-states, ros-kinetic-xpp-vis, xterm
Description: A ROS dependent wrapper for towr.
 Adds a keyboard user interface to set different goal states, motions and robots and visualizes the produced motions plan in rviz using xpp.
